* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../img/bg.webp');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
}

.filter-blur {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    display: none;
}

.loading {
    z-index: 3;
    position: relative;
    margin: 0 auto;
    top: 45%;
    display: none;
}

.loading > .spinner {
    margin: 0 auto;
    background-image: url(../img/fa/spinner.svg);
    width: 40px;
    height: 40px;
    animation: spinner-rotate 2s infinite linear;
    -webkit-animation: spinner-rotate 2s infinite linear;
}

.loading > .ldpage {
    width: fit-content;
    margin: 1rem auto;
    color: #f5f5f5;
    font-size: 1.5rem;
}

.uploadbox {
    color: #e5e5e5;
    padding: 12px 15px;
    background-color: rgba(0, 0, 0, .3);
    border: 3px dashed #e5e5e5;
    border-radius: 12px;
    width: fit-content;
    margin: auto;
    top: 40%;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.uploadbox > .icon {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    pointer-events: none;
}

.uploadbox > .desc {
    opacity: 0.7;
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.progressbar {
    top: 0;
    position: fixed;
    height: 7px;
    width: 0;
    background-color: #777;
    z-index: 3;
}

.comicreader {
    position: relative;
    margin: 0 auto;
    max-width: 54rem;
    background-color: #202020;
    z-index: 2;
    display: none;
}

.comicreader > .content {
    position: relative;
    margin: 0 auto;
    max-width: 50rem;
    text-align: center;
    pointer-events: none;
}

.content > .cp {
    width: 100%;
    padding: 2px 0;
    user-select: none;
}

.cp > .ll {
    height: 1px;
    width: 45%;
    float: left;
    top: 9px;
    position: relative;
    background-color: #848381;
}

.cp > .lr {
    height: 1px;
    width: 45%;
    float: right;
    top: 9px;
    position: relative;
    background-color: #848381;
}

.cp > span {
    color: #ccc;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    font-size: 16px;
}

.comicreader img {
    width: 50rem;
}

.to-top {
    z-index: 1;
    position: fixed;
    background-color: #fff;
    cursor: pointer;
    bottom: 5rem;
    margin: 0 0 0 53rem;
    border: #d2d3cc 1px solid;
    display: none;
}

.close {
    z-index: 1;
    position: fixed;
    background-color: #fff;
    cursor: pointer;
    top: 5rem;
    margin: 0 0 0 53rem;
    border: #d2d3cc 1px solid;
    display: none;
}

.to-top > img {
    position: relative;
    width: 5rem;
    height: 2rem;
    margin: 0 auto;
}

.close > img {
    position: relative;
    width: 5rem;
    height: 2rem;
}

.info {
    position: fixed;
    left: 0;
    bottom: 0;
    height: fit-content;
    color: #ccc;
    background-color: #202020;
    opacity: 0.8;
    z-index: 5;
    padding: 0 5px;
}

.info > .pagenum {
    margin-left: 3px;
}


@media screen and (max-width: 980px) {
    html {
        font-size: 20px;
    }

    .comicreader img {
        max-width: 100%;
    }

    .to-top {
        right: 0;
        margin: 0;
        opacity: 0.7;
    }
    
    .close {
        right: 0;
        margin: 0;
        opacity: 0.7;
    }
}

@keyframes spinner-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}