* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(to right,rgba(0,0,0,.6),rgba(0,0,0,.6)), url('../img/bg.webp');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-size: 20px;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
}

.dragbox {
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    background-color: rgba(0, 0, 0, .7);
    border: 10px dashed #36cfc9;
}

.loading {
    z-index: 3;
    position: relative;
    margin: 0 auto;
    top: 45%;
    display: none;
}

.loading > .spinner {
    margin: 0 auto;
    background-image: url(../img/fa/spinner.svg);
    width: 40px;
    height: 40px;
    animation: spinner-rotate 2s infinite linear;
    -webkit-animation: spinner-rotate 2s infinite linear;
    user-select: none;
    pointer-events: none;
}

.loading > .loads {
    width: fit-content;
    margin: 1rem auto;
    color: #f5f5f5;
    font-size: 1.5rem;
    user-select: none;
}

.processbar {
    top: 0;
    position: fixed;
    height: 7px;
    width: 0;
    background-color: #777;
    z-index: 5;
}

.uploadbox {
    color: #f3f4f5;
    padding: 1.5rem 4rem;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .5);
    border: 5px dashed #2a2b2c;
    /* border-radius: 12px; */
    width: fit-content;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    transition: .2s background-color;
    -webkit-transition: .2s background-color;
}

.uploadbox:hover {
    background-color: rgba(0, 0, 0, .9);
}

.uploadbox > .icon {
    width: 30px;
    height: 30px;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
    pointer-events: none;
}

.uploadbox > .tip {
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.comicreader {
    position: relative;
    margin: auto;
    max-width: 54rem;
    background-color: #202020;
    z-index: 2;
    display: none;
}

.comicreader > .container {
    position: relative;
    margin: auto;
    max-width: 50rem;
    text-align: center;
}

img.cimg {
    width: 50rem;
    display: block;
    pointer-events: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

.container > .cp {
    width: 100%;
    padding: 2px 0;
    user-select: none;
}

.cp > .ll {
    height: 1px;
    width: 45%;
    float: left;
    top: 9px;
    position: relative;
    background-color: #848381;
}

.cp > .lr {
    height: 1px;
    width: 45%;
    float: right;
    top: 9px;
    position: relative;
    background-color: #848381;
}

.cp > span {
    display: block;
    color: #ccc;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    font-size: 16px;
}

.titlebox {
    position: fixed;
    opacity: .7;
    margin: auto;
    max-width: 50rem;
    height: 4rem;
    top: 0;
    left:0;
    right:0;
    z-index: 4;
    border-bottom: #848381 2px solid;
    background-color: #2b2b2b;
    transform: translateY(-6rem);
    transition: transform .2s;
    display: none;
    padding: 1rem .5rem;
}

.titlebox > .title {
    color: #ccc;
    word-break: break-all;
    overflow: hidden;
    display: block;
    height: 2.5rem;
}

.toolbox {
    position: fixed;
    opacity: .7;
    margin: auto;
    max-width: 50rem;
    height: 4rem;
    bottom: 0;
    left:0;
    right:0;
    z-index: 4;
    border-top: #848381 2px solid;
    background-color: #2b2b2b;
    transform: translateY(6rem);
    transition: transform .2s;
    display: none;
    padding: 0 .5rem 1rem .5rem;
    user-select: none;
}

.toolbox img {
    opacity: 1;
    width: 2rem;
    height: 2rem;
}

.toolbox > div {
    padding: .5rem;
    cursor: pointer;
    float: left;
}

.info {
    position: fixed;
    left: 0;
    bottom: 0;
    color: #ccc;
    background-color: #202020;
    opacity: .8;
    z-index: 4;
    padding: 0 5px;
    user-select: none;
}

.info > .totalpage {
    margin-left: 3px;
}


@media screen and (max-width: 50rem) {
    .cimg {
        max-width: 100%;
    }

    .uploadbox {
        width: 100%;
    }
}

@keyframes spinner-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
